:root {
  --primary: #075ba5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-image: url(./arkaplan.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 70%;
  background-position: center top;
}

h1 {
  letter-spacing: 1px;
  user-select: none;
}

/* -------------- Nav -------------- */

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  min-height: 30px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 2px;
  padding-right: 10px;
}

.nav-left {
  display: flex;
  text-decoration: none;
  color: white;
}

.nav-tree {
  padding: 2px;
}

.nav-tag {
  padding-left: 3px;
}

.nav-right {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.nav-right-start {
  display: flex;
}

.nav-service {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.nav-service:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.nav-right-end {
  display: flex;
  padding: 10px;
  border-radius: 20px;
}

.nav-right-end:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.square {
  display: flex;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
  font-size: 8px;
}

.square:hover {
  transition: .2s ease-out;
  background-color: rgba(0, 0, 0, 0.4);
}

.square-name {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.square-link {
  text-decoration: none;
  color: white;
}

/* -------------- Main -------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
  height: 200;
}

.main-input-headline {
  padding-bottom: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
}

.main-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 600px;
}

.main-form-div {
  position: relative;
}

.main-input {
  border: none;
  padding: 2px 20px;
  font-size: 16px;
  outline: none;
  min-width: 600px;
  position: relative;
  border-radius: 9999px;
  height: 60px;
}

.main-bottom-div {
  margin-top: 30px;
  display: flex;
  width: 600px;
  justify-content: center;
}

.main-bottom-div div {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.main-bottom-button {
  width: 250px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.blue {
  background-color: rgb(43, 171, 221);
}

.green {
  background-color: rgb(133, 184, 58);
}

.pink {
  background-color: rgb(226, 116, 116);
}

.blue:hover {
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(44, 142, 181);
}

.green:hover {
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(96, 130, 46);
}

.pink:hover {
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(170, 90, 90);
}

.footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 800px;
  color: black;
  align-self: center;
}

.footer-shows {
  padding-top: 10px;
  font-size: 12px;
}

/* -------------- Script -------------- */

.main-input-items {
  position: absolute;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.main-input-value {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  border-radius: 20px;
}

.main-input-value:hover {
  background-color: #e9e9e9;
}

.main-input-active {
  background-color: var(--primary) !important;
  color: #fff;
}

.hl {
  color: #ffaa00;
}